@using BudgetApp.Models.Helpers;
@model BudgetApp.Models.ViewModels.InitialBudgetViewModel

@{
    ViewData["Title"] = "Create Initial Budget";
}

<h2>Create Initial Budget</h2>

@using (Html.BeginForm("Create", "Create", FormMethod.Post))
{
    <div>
        <h4>Incomes</h4>
        @for (int i = 0; i < Model.Incomes.Count; i++)
        {
            <div>
                <!-- Dropdown para seleccionar CategoryId -->
                @Html.DropDownList(
                         $"Incomes[{i}].CategoryId",
                         new SelectList(Model.Categories, "Id", "Name"),
                         new { @name = $"Incomes[{i}].CategoryId" }
                         )

                <!-- Campo para ingresar el valor proyectado (ProjectedAmount) -->
                @Html.TextBoxFor(m => m.Incomes[i].ProjectedAmount, new { @name = $"Incomes[{i}].ProjectedAmount" })

                <!-- Campo oculto para TransactionType (fijo para ingresos: 2) -->
                @Html.HiddenFor(m => m.Incomes[i].TransactionType, new { @name = $"Incomes[{i}].TransactionType", @value = MasterData.TransactionTypes.Income })
            </div>
        }
    </div>

    <div>
        <h4>Expenses</h4>
        @for (int i = 0; i < Model.Expenses.Count; i++)
        {
            <div>
                <!-- Dropdown para seleccionar CategoryId -->
                @Html.DropDownList(
                         $"Expenses[{i}].CategoryId",
                         new SelectList(Model.Categories, "Id", "Name"),
                         new { @name = $"Expenses[{i}].CategoryId" }
                         )

                <!-- Campo para ingresar el valor proyectado (ProjectedAmount) -->
                @Html.TextBoxFor(m => m.Expenses[i].ProjectedAmount, new { @name = $"Expenses[{i}].ProjectedAmount" })

                <!-- Campo oculto para TransactionType (fijo para gastos: 1) -->
                @Html.HiddenFor(m => m.Expenses[i].TransactionType, new { @name = $"Expenses[{i}].TransactionType", @value = MasterData.TransactionTypes.Expense })
            </div>
        }
    </div>

    
    <button type="submit">Submit</button>
}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newCategoryModal">
    Add New Category
</button>
@Html.Partial("~/Views/Modals/CreateCategory.cshtml", new BudgetApp.Models.Dtos.CategoryDto())