@model BudgetApp.Models.ViewModels.InitialBudgetViewModel

@{
    ViewData["Title"] = "Create Initial Budget";
}

<h2>Create Initial Budget</h2>

@using (Html.BeginForm("Create", "Create", FormMethod.Post))
{
    <div>
        <h3>Incomes</h3>
        @for (int i = 0; i < Model.Incomes.Count; i++)
        {
            var incomeCategory = Model.Categories.FirstOrDefault(c => c.Id == Model.Incomes[i].CategoryId);
            if (incomeCategory != null)
            {
                <div>
                    <h4>@incomeCategory.Name <i class="@incomeCategory.Icon"></i></h4>
                    <div>
                        @Html.LabelFor(m => m.Incomes[i].ProjectedAmount)
                        @Html.TextBoxFor(m => m.Incomes[i].ProjectedAmount, new { @name = $"Incomes[{i}].ProjectedAmount" })
                        @Html.HiddenFor(m => m.Incomes[i].CategoryId, new { @name = $"Incomes[{i}].CategoryId" })
                        @Html.HiddenFor(m => m.Incomes[i].Name, new { @name = $"Incomes[{i}].Name" })
                        @Html.HiddenFor(m => m.Incomes[i].TransactionType, new { @name = $"Incomes[{i}].TrasactionType" })
                    </div>
                </div>
            }
        }
    </div>
    <div>
        <h3>Expenses</h3>
        @for (int i = 0; i < Model.Expenses.Count; i++)
        {
            var expenseCategory = Model.Categories.FirstOrDefault(c => c.Id == Model.Expenses[i].CategoryId);
            if (expenseCategory != null)
            {
                <div>
                    <h4>@expenseCategory.Name <i class="@expenseCategory.Icon"></i></h4>
                    <div>
                        @Html.LabelFor(m => m.Expenses[i].ProjectedAmount)
                        @Html.TextBoxFor(m => m.Expenses[i].ProjectedAmount, new { @name = $"Expenses[{i}].ProjectedAmount" })
                        @Html.HiddenFor(m => m.Expenses[i].CategoryId, new { @name = $"Expenses[{i}].CategoryId" })
                        @Html.HiddenFor(m => m.Expenses[i].Name, new { @name = $"Expenses[{i}].Name" })
                        @Html.HiddenFor(m => m.Expenses[i].TransactionType, new { @name = $"Expenses[{i}].TrasactionType" })
                    </div>
                </div>
            }
        }
    </div>
    <button type="submit">Submit</button>
}